<IfModule mod_rewrite.c>
  Option -Multiviews
  RewriteEngine On
    RewriteBase /youmusic/public/
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.+)$ index.php?url=$1 [S,QSA,L]
</IfModule>